<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">

<suite name="globalTestPack" thread-count="1">
    <test name="globalTestPack" preserve-order="true">
        <classes>
            <class name="com.jbilling.test.TestCreateNewCompanyUsingCopyCompany" />
            <class name="com.jbilling.test.TestLoginIntoCompany" />
            <class name="com.jbilling.test.TestCreationOfChildCompany" />
            <class name="com.jbilling.test.TestAddAccountType" />
            <class name="com.jbilling.test.TestAttachPaymentType" />
            <class name="com.jbilling.test.TestAddInfoToAccountType" />
            <class name="com.jbilling.test.TestConfigurePaymentMethod" />
            <class name="com.jbilling.test.TestConfigureOrderPeriod" />
            <class name="com.jbilling.test.TestConfigureCollection" />
            <class name="com.jbilling.test.TestConfigureCollectionPlugins" />
            <class name="com.jbilling.test.TestConfigureBillingProcess" />
            <class name="com.jbilling.test.TestCreateProductCategory" />
            <class name="com.jbilling.test.TestCreateCategoryWithAssetManagement" />
            <class name="com.jbilling.test.TestAddAndEditProduct" />
            <class name="com.jbilling.test.TestCreateProductWithAsset" />
            <class name="com.jbilling.test.TestAssignAccountToProduct" />
            <class name="com.jbilling.test.TestCreateAndEditPlan" />
            <class name="com.jbilling.test.TestRootCompanyImpersonationOnChildCompany" />
            <class name="com.jbilling.test.TestCreateAndEditCustomer" />
            <class name="com.jbilling.test.TestCreateParentChildRelationInCustomersTab" />
            <class name="com.jbilling.test.TestCreateDiscount" />
            <class name="com.jbilling.test.TestChangeOrderFeature" />
            <class name="com.jbilling.test.TestCreateOrderWithDifferentTypedandPeriods" />
            <class name="com.jbilling.test.TestCustomerStatusChangeAsCollection" />
            <class name="com.jbilling.test.TestCreateProductWithDependencyOnOther" />
            <class name="com.jbilling.test.TestOrderProductWithDependencyOnOther" />
            <class name="com.jbilling.test.TestAgentsLinkedToCustomer" />
            <class name="com.jbilling.test.TestCreateProductWithCommissions" />
            <class name="com.jbilling.test.TestConfigurePluginPreferencesForCommission" />
            <class name="com.jbilling.test.TestGeneratedCommissionPostInvoiceGeneration" />
            <class name="com.jbilling.test.TestReportForInvoice" />
            <class name="com.jbilling.test.TestUserCanPayInvoiceOnGeneratedInvoice" />
            <class name="com.jbilling.test.TestVerifyInvoiceGeneration" />
            <class name="com.jbilling.test.VerifyUserAbleGetMandatoryFieldMessageForAccountType" />
            <class name="com.jbilling.test.VerifyUserAbleToAddPaymentMethod" />
            <class name="com.jbilling.test.VerifyUserAbleToEditCompanyDetails" />
            <class name="com.jbilling.test.VerifyUserAbleToEditDeletePaymentMethod" />
            <class name="com.jbilling.test.VerifyUserAbleToLoginUsingValidCred" />
            <class name="com.jbilling.test.VerifyUserIsAbleToAddlDependenciesOnProduct" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateInvoiceTemplates" />
            <class name="com.jbilling.test.VerifyUserAbleToConfigureOrderChangeStatuses" />
            <class name="com.jbilling.test.VerifyStatusofPreExistingandNewOrder" />
            <class name="com.jbilling.test.VerifyAddProductwithDifferentPricingModel" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateMetafields" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateOrderChangesStatusesAndOrderChangeTypePlugins" />
            <class name="com.jbilling.test.VerifyUserIsAbleToSetUpFeeProductAndRelatedPlugInToBeUsedAsCancellationFee" />
            <class name="com.jbilling.test.VerifySearchingSortingForFreeUsagePoolafterSwitchingConfigurationOnfromOff" />
            <class name="com.jbilling.test.VerifyUserAbleToConfigurePluginsForProvisioning" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateEnumeration" />
            <class name="com.jbilling.test.VerifyUserAbleToPrepareDataForAllSections" />
            <class name="com.jbilling.test.VerifyUserIsAbleToSetUpFeeProductAndRelatedPlugInToBeUsedAsCancellationFee" />
            <class name="com.jbilling.test.VerifyiyUserIsAbleToConfigureProductToHave1And2Dependencies" />
            <class name="com.jbilling.test.MetaFieldTypeSelectionISNotAvailableWhileAddingNewMetaFields" />
            <class name="com.jbilling.test.VerifyValidityRulesDropDownIsAvailableInsteadofRuleTypeWhileCreatingMetafieldToAIT" />
            <class name="com.jbilling.test.VerifyUserIsAbleToAddAnotherAITMetafiledToAcountType" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateGlobleProductWithAnAsset" />
            <class name="com.jbilling.test.VerifyUsedMetaFieldTypeDoNotPopulateInDropDown" />
            <class name="com.jbilling.test.VerifyCreatedAITMetaFieldInIncludeInNotificationDropDown" />
            <class name="com.jbilling.test.AddAITMetafieldToAccountType" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateFUP" />
            <class name="com.jbilling.test.VerifyCreateCategoryOnePerCustomer" />
            <class name="com.jbilling.test.VerifyCreateCategoryOnePerOrder" />
            <class name="com.jbilling.test.VerifyMetaFieldTypeSelectionISNotAvailableWhileAddingNewMetaFieldExceptAccountType" />
            <class name="com.jbilling.test.VerifyOnlyOneAITMetaFieldAerAccountTypeCanBeEnabledAtTime" />
            <class name="com.jbilling.test.VerifyPluginsNotVisibleWithoutPermissions" />
            <class name="com.jbilling.test.VerifytThatDiscountsAreCorrectlyDisplayedInJQGridView" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateAssetMgmtMetaFieldsAndGroup" />
            <class name="com.jbilling.test.VerifyUserAbleToCreateAssetMgmtWithDiffCategories" />
            <class name="com.jbilling.test.VerifyUserAbleToSubscribeToTheFUPPlan" />
            <class name="com.jbilling.test.VerifyUserCanAssociatePlanWithDifferentCaegories" />
            <class name="com.jbilling.test.VerifyUserUnableToDeleteFUPThatUsed" />
            <class name="com.jbilling.test.VerifyUserIsAbleToCloneTheAccountType" />
            <class name="com.jbilling.test.VerifyActiveSinceDateOfDiscountSubOrderCreatedIsSameSsActiveSinceOfTheParentOrder" />
            <class name="com.jbilling.test.CreateNestedPanforDataPreparation" />
            <class name="com.jbilling.test.VerifySearchingandSortingforDiscount" />
            <class name="com.jbilling.test.VerifyUserIsAbleToCancelPurchaseOrder" />
            <class name="com.jbilling.test.VerifyUserIsAbleToSeeAllOrderDetailsOfRespectiveCustomer" />
            <class name="com.jbilling.test.VerifyUserIsAbleToEditPurchaseOrder" />
            <class name="com.jbilling.test.VerifyUserIsAbleToCreatePurchaseOrdersWithBundledQuantity" />
            <class name="com.jbilling.test.VerifyThatUserIsAbleToCreateMonthlyPrepaidOrder" />
            <class name="com.jbilling.test.VerifyThatUserIsAbleToCreateMonthlyPostpaidOrder" />
            <class name="com.jbilling.test.VerifyThatUserIsAbleToCreateYearlyPostpaidOrder" />
        </classes>
    </test>
</suite> 
